@using Kendo.Mvc.UI;
<div id="SearchExternalPartner">
    @Automation.Helper.winClass.windowHeader("", "جستجو ارگان خارجی", 500, 350)
    <script src="@Url.Content("~/Content/Base.js")" type="text/javascript"></script>
    <div>
        <br />
        <div>
            <center>
                <table>
                    <tr>
                        <td>
                            فیلد جستجو:@Html.DropDownList("cboSearchFiald1", new SelectList(new[] { new { ID = "0", Name = "نام ارگان" }}, "ID", "Name"))
                        </td>
                        <td>
                            نوع جستجو: @Html.DropDownList("cboSearchType1", new SelectList(new[] { new { ID = "0", Name = "مشابه عبارت" }, new { ID = "1", Name = "مشابه عبارت از سمت راست" }, new { ID = "2", Name = "عین عبارت" } }, "ID", "Name"))
                        </td>
                    </tr>
                    <tr>
                        <td>
                            عبارت جستجو: @Automation.Helper.winClass.textbox("txtSearch1")
                        </td>
                        <td>
                            نتیجه رکوردها: @Html.TextBox("txtTop1", 30, new { @style = "width:30px;" }) رکورد
                        </td>
                    </tr>
                </table>
            </center>
            <br />
        </div>
        <center>
            <p>
                @Automation.Helper.winClass.Buttons("Select", "انتخاب", "Next")
                @Automation.Helper.winClass.Buttons("exit1", "خروج", "Exit")
            </p>
        </center>
        <div class="k-rtl demo-section">
            @(Html.Kendo().Grid<Automation.Models.sp_tblExternalPartnerSelect>()
                .Name("searchGrid")
                .Columns(columns =>
                {
                    columns.Bound(p => p.fldID).Title("کد").Visible(false);
                    columns.Bound(p => p.fldName).Title("نام ");
                })
            .Selectable(selectable => selectable.Mode(GridSelectionMode.Single))
            .Pageable()
            .Scrollable()
            .DataSource(data =>
                data.Ajax()
                .PageSize(10)
                .Read("Fill", "SearchExternalPartner")
            )
        )
        </div>
    </div>
    <script type="text/javascript">
        $("document").ready(function () {
            $("#Select").button();
            $("#exit1").button();
            var state = '@ViewBag.state';
            $("#exit1").click(function () {
                $("#SearchExternalPartner").remove();
            });
            $('#SearchExternalPartner #btnClose').click(function () {
                $("#SearchExternalPartner").remove();
                isWinOpen = false;
            });

            $('#Select').click(function () {
                var entityGrid = $("#searchGrid").data("kendoGrid");
                var selectedItem = entityGrid.dataItem(entityGrid.select());
                if (selectedItem) {
                    var id = selectedItem.fldID;
                    var name = selectedItem.fldName;
                    if (state == 1) {
                        var h = SenderID.split(';');
                        var isid = false;
                        for (var i = 0; i < h.length; i++) {
                            if (h[i] == id) {
                                isid = true;
                                break;
                            }
                        }
                        if (isid == false) {
                            SenderName = SenderName + name + ';';
                            SenderID = SenderID + id + ';';
                        }
                        else {
                            windowAppend("body", "/metro/error");
                            $("#message").html('نام ارگان تکراری است.');
                            $("#error .wintitle").html("خطا");
                        }
                        $('#SenderOragan').html(SenderName);
                    }
                    $('#SearchExternalPartner').remove();
                } else {
                    windowAppend('body', '/metro/error');
                    $('#message').html('لطفا یک سطر را انتخاب کنید.');
                    $("#error .wintitle").html("خطا");
                }
            });

            $('#txtSearch1').keyup(function () {
                var url = '@Url.Action("Reload", "SearchExternalPartner")';
                Reload(url, 'searchGrid', $("#cboSearchFiald1").val(), $("#txtSearch1").val(), $("#txtTop1").val(), $("#cboSearchType1").val());
            });


        });

        function Reload(Url, gridname, field, value, top, searchType) {
            var grid = $('#' + gridname).data('kendoGrid');
            $.ajax({
                url: Url,
                type: 'get',
                datatype: 'json',
                data: { field: field, value: value, top: top, searchtype: searchType },
                error: function (xhr, status, error) {
                    alert(xhr + status);
                },
                success: function (result) {
                    $("#" + gridname).data("kendoGrid").dataSource.data(result);
                }

            });
        }


    </script>
    @Automation.Helper.winClass.windowFother();
</div>
