@using Kendo.Mvc.UI;
<div id="ApplicationPart">
    <div>
        <br />
        <center>
            <table>
                <tr>
                    @Html.Hidden("fldID")
                    <td align="left">
                    <span style="color: Red;">*</span>عنوان:
                    </td>
                    <td align="right">
                        @Html.TextBox("txtTitle")  
                        <span id="lblTitleError" style="color: Red;"></span>                      
                    </td>
                </tr>
                 <tr>
                    <td align="left">
                        توضیحات:
                    </td>
                    <td align="right">
                        @Automation.Helper.winClass.textArea("txtDesc", 4, 30)
                    </td>
                </tr>  
                <tr>
                    <td align="center" colspan="2">
                        <p>
                            @Automation.Helper.winClass.Buttons("AddLink", "ذخیره", "Save")
                            @Automation.Helper.winClass.Buttons("EditLink", "ویرایش", "Edit")
                            @Automation.Helper.winClass.Buttons("DelLink", "حذف", "Del")
                            @Automation.Helper.winClass.Buttons("exit", "خروج", "Exit")
                        </p>
                    </td>
                </tr>
                <tr>
                    <td align="left">منوهای برنامه :
                    </td>
                    <td colspan="2" dir="rtl" id="App_part" align="right"></td>
                </tr>
            </table>
        </center>
        <script type="text/javascript">
            var dataItem;
            function select(e) {
                dataItem = this.dataItem(e.node);
                Pid = dataItem.id;
            }
            function expand() {
                var treeview = $("#treeview").data("kendoTreeView");
                treeview.expand(".k-item");
            }
            var Pid;
            $("document").ready(function () {

                $('#App_part').html($('#LocationDiv').valueOf());
                $("#AddLink").button();
                $("#EditLink").button();
                $("#DelLink").button();
                $("#exit").button();


                $("#exit").click(function () {
                    $("#ApplicationPart").remove();
                });


                $('#DelLink').click(function () {
                    if (Pid != null) {
                        var URL = '@Url.Content("~/metro/YesNomsg")';
                        URL = URL + "/?id=" + Pid + "&URL=" + '@Url.Content("~/ApplicationPart/Delete")';
                        windowAppend("body", URL);
                        $("#message").html('آیا مایل به حذف رکورد انتخاب شده هستید؟');
                    }
                    else {
                        windowAppend('body', '/metro/error');
                        $('#message').html('لطفا یک مورد را انتخاب کنید.');
                        $("#error .wintitle").html("خطا");
                    }
                    Clear();
                });
                $("#txtTitle").keyup(function () {
                    if ($("#txtTitle").val() != '') {
                        $("#txtTitle").removeClass("input-validation-error");
                        $("#lblTitleError").html("");
                    }
                    else {
                        $("#txtTitle").addClass("input-validation-error");
                        $('#lblTitleError').html('لطفا عنوان را وارد کنید.');
                    }
                });
                jQuery("#EditLink").click(function () {

                    if (Pid != null) {
                        var URL = '@Url.Content("~/ApplicationPart/Details")';
                        URL = URL + "/" + Pid;
                        $.ajax({
                            type: "GET",
                            url: URL,
                            success: function (data) {
                                Pid = data.fldPId;
                                $("#fldID").val(data.fldID);
                                $("#txtTitle").val(data.fldTitle);
                            },
                            failure: function (data) {
                                alert(data.data);
                            }
                        });
                    }
                    else {
                        windowAppend('body', '/metro/error');
                        $('#message').html('لطفا یک مورد را انتخاب کنید.');
                        $("#error .wintitle").html("خطا");
                    }
                });

                $("#AddLink").click(function () {
                    var er = false;
                    if ($("#txtTitle").val() == '') {
                        $("#txtTitle").addClass("input-validation-error");
                        $('#lblTitleError').html('لطفا عنوان را وارد کنید.');
                        er = true;
                    }
                    else
                        $('#lblTitleError').html('');


                    if (er)
                        return;

                    var data = {
                        fldTitle: $("#txtTitle").val(),
                        fldPID: Pid,
                        fldId: $("#fldID").val()
                    };
                    if (data != '') {
                        PostForm(data, '@Url.Content("~/ApplicationPart/Save")', "#win");
                    }
                    Clear();
                });

            });
            function Clear() {
                $("#txtTitle").val('');
                $('#fldID').val('0');
            }

            function Reload(Url, gridname, field, value, top, searchType) {
                var grid = $('#' + gridname).data('kendoTreeView');
                $.ajax({
                    url: Url,
                    type: 'get',
                    datatype: 'json',
                    data: { id: 1 },
                    error: function (xhr, status, error) {
                        alert(xhr + status);
                    },
                    success: function (result) {
                        $("#" + gridname).data("kendoTreeView").dataSource.data(result);
                    }

                });
            }

            function PostForm(datas, url, id) {
                var sendInfo = datas;
                $('#Lock').show();
                $.ajax({
                    type: "POST",
                    url: url,
                    data: sendInfo,
                    datatype: "json",
                    success: function (data) {
                        var m = data;
                        windowAppend("body", "/metro/error");
                        $("#message").html(m.data);
                        switch (m.state) {
                            case 0:
                                $("#error .wintitle").html("ذخیره موفق");
                                break;
                            case 1:
                                $("#error .wintitle").html("خطا");
                                break;
                        }
                        var tree = $('#treeview').data("kendoTreeView");
                        tree.dataSource.read();
                        //var url = '@Url.Action("_RolsTree", "ApplicationPart")';
                        //Reload(url, 'TreeView', '0', '', 30, 1);
                        $('#Lock').hide();
                    },
                    failure: function (data) {
                        alert(data.data);
                    }
                });
            }

        </script>
    </div>
    <div class="treeview-back  k-rtl" dir="rtl" id="LocationDiv">
        @(Html.Kendo().TreeView()
                        .Name("treeview")
                        .DataTextField("Name")
                        .Checkboxes(chkbxs =>
                        {
                            chkbxs.Enabled(false).CheckChildren(false);
                        })
                        .DataSource(dataSource => dataSource
                        .Read(read => read
                                                  .Action("_RolsTree", "ApplicationPart")
                        )
                        )
                        .Events(events =>
                        {
                            events.Select("select");
                            events.DataBound("expand");
                        })
                        )
    </div>
</div>

